* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Netflix Sans", sans-serif;
}

body {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/530fc327-2ddb-4038-a3f0-2da2d9ccede1/81c68250-e0f1-4cd8-bf2d-4fd8222163de/BR-pt-20230619-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

/* Import */
@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

.conteiner-login {
    width: 450px;
    height: 660px;
    background-color: #000000BF;
    border-radius: 7px;
}

.gmail {
    margin-bottom: 5%;
}

.conteundo-login h1 {
    color: white;
    margin-bottom: 8%;
    font-size: 32px;
}

.prest {
    width: 341.01px;
    height: 50px;
    background-color: #333;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #8c8c8c;
    padding-left: 8%;
    font-weight: 500;
    font-size: 18px;
}

.conteundo-login {
    width: 341.01px;
    position: relative;
    /* top: 0; */
    left: 50%;
    transform: translate(-48% , 20%);
    
}

.alinhar {
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo img{
    margin-left: 2%;
    margin-top: 1%;
    width: 150px;
}

a {
    color: inherit;
}

.btn-entrar {
    width: 341.01px;
    height: 47.98px;
    background-color: #E50914;
    color: #FFF;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 10%;
}

.ajuda-LembreDemim {
    margin-top: 3%;
    display: flex;
    width: inherit;
    /* background-color: red; */
    justify-content: space-between;
    color: #b3b3b3;
    margin-bottom: 20%;
    font-size: 13px;
    align-items: center;
    
}

.checkbox {
    width: 15px;
    height: 15px;
    border: none;
}

.assinar p {
    color: #737373;
}

.assinar a {
    color: white;
    text-decoration: none;
}

.assinar a:hover {
    text-decoration: underline;
}

.assinar {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 3%;
}
.text-final {
    font-size: 13px;
    color: #8c8c8c;
}

.text-final a {
    color: #0071EB;
}

.rodaPe {
    width:100%;
    height: 242.09px;
    background-color: #000000BF;
    margin-top: 15%;
}

.rodaPe-conteudo {
    color: #737373;
    margin: auto;
    width: 85%;
    /* background-color: red; */
    padding-top: 3%;
}

.rodaPe-conteudo h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5%;
}

.perguntasFrequantes {
    display: flex;
    gap: 15px;
    font-weight: 300;
}

.perguntasFrequantes p {
    margin-bottom: 15%;
}
.carrocel{
    display: flex;
    /* gap: 15px; */
    background-color: red;
    height: inherit;
    width: inherit;
    overflow: hidden;
    position: absolute;
    
    
}
.cadastro{
    position: relative;
    /* padding-left: 15%; */
    
    
}

@media screen and (max-width:800px) {
    
    body {
        width: 100%;
        height: 100% !important;
    }

    .rodaPe {
        margin-top: 0%;
        text-align: center;
    }
    
    .alinhar {
        height: 100%;
    }

    .conteiner-login {
        width: 100%;
        height: 560px;
        border-radius: 0;
    }

    .perguntasFrequantes {
        flex-direction: column;
        gap: 0px;
        font-weight: 300;
    }

    .perguntasFrequantes p {
        margin-bottom: 10px;
    }

    .logo {
        text-align: center;
        background-color: #000000BF;
    }

    .logo img{
        margin-left: 0%;
        margin-top: 0%;
    }
}
